* {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	line-height: 1.5;
}

h1, h2, h3 {
	font-family: 'Georgia', Times, 'Times New Roman', serif;
}

body {
	margin: 0;
	width: 100%;
	background-image: url(assets/images/new_year_background.png);
}

.header {
	position: fixed;
	top: 0;
	height: 100px;
	width: 100%;
	background-color: #ffffff;
	border-bottom-style: solid;
	border-bottom-color: #cccccc;
	border-bottom-width: 2px;
}

#natalie {
	background-color: #4aaaa5;
	display: inline-block;
	height: 100px;
	color: white;
	margin: 0;
	padding: 0px 50px;
	position: relative;
	top: 0;
	left: 150px;
	vertical-align: middle;
	display: table-cell;
}

a {
	text-decoration: none;
}

.nav {
	position: absolute;
	top: 0;
	right: 200px;
	vertical-align: middle;
}

#about {
	font-size: 18px;
	padding: 0px 20px;
	border-right-style: solid;
	border-right-color: #dddddd;
	border-right-width: 1px;
}

#portfolio {
	font-size: 18px;
	padding: 0px 20px;
	border-right-style: solid;
	border-right-color: #dddddd;
	border-right-width: 1px;
}

#contact {
	font-size: 18px;
	padding: 20px;
}

.main {
	clear: both;
	display: inline-block;
	background-color: #ffffff;
	border-style: solid;
	border-color: #dddddd;
	border-width: 1px;
	padding: 20px 40px;
	float: left;
	width: 45%;
	left: 100px;
	margin: 150px 75px 150px 150px;
}

h1 {
	color: #4aaaa5;
	border-bottom-style: solid;
	border-bottom-color: #cccccc;
	border-bottom-width: 3px;
}

h2 {
	color: #4aaaa5;
	border-bottom-style: solid;
	border-bottom-color: #dddddd;
	border-bottom-width: 3px;
}

.connect {
	margin-top: 150px;
	display: inline-block;
	background-color: #ffffff;
	border-style: solid;
	border-color: #dddddd;
	border-width: 1px;
	padding: 40px;
	width: 15%;
	float: left;
	right: 0px;
	text-align: center;
}

.footer {
	position: fixed;
	bottom: 0;
	height: 100px;
	width: 100%;
	background-color: #666666;
	border-top-style: solid;
	border-top-color: #4aaaa5;
	border-top-width: 7px;
	text-align: center;
}

#copyright {
	color: #dddddd;
	font-size: 12px;
}

img {
	float: left;
	margin: 0px 30px 20px 0px;
}